<div class="user-header">
	
	<figure>
		<img src="<%=user.headimgurl||'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516705827311&di=713a8075f5866e78f2a5cfe03806b548&imgtype=jpg&src=http%3A%2F%2Fhellorfimg.zcool.cn%2Fpreview%2F534673786.jpg'%>" alt="">
		<figcaption><%=user.nickname||'Hello,welcome'%></figcaption>
	</figure>
	<div><%=user.country%> <%=user.province%> <%=user.city%> ● <%=user.sex ? '男':'女'%></div>
	
</div>
<div class="body p-20">
	<div class="section">
		<ul>
			<li>我的订单</li>
			<li>我的收藏</li>
		</ul>
	</div>
</div>
<%include ../layout/_script%>

<script>
	require(['//res.wx.qq.com/open/js/jweixin-1.2.0.js'], function(wx) {
		window.wx = wx;


		wx.error(function(res) {
			console.error('error',res);
			// config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
		});
		wx.ready(function() {
			alert('OK');
			// wx.scanQRCode({
			// 	needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
			// 	scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
			// 	success: function(res) {
			// 		var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
			// 		console.info('结果', result);
			// 	}
			// });
		});

		$.get('//weixin.da-qianduan.cn/weixin/gzh/signature', function(res) {
			 

			var config = {
				debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
				appId: res.appId, // 必填，公众号的唯一标识
				timestamp: res.timestamp, // 必填，生成签名的时间戳
 				nonceStr: res.nonceStr, // 必填，生成签名的随机串
				signature: res.signature, // 必填，签名，见附录1
				jsApiList: [
					'scanQRCode'
				]
				// 必填，需要使用的JS接口列表，所有JS接口列表见附录2
			};
			console.log(res);
			wx.config(config);

		});


	});
</script>